* {
  margin: 0;
  padding: 0;
}

.App {
  box-sizing: border-box;
  font-size: 16px;
  max-width: 100%;
}

header {
  background-color: rgb(212, 212, 212);
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 80px;
  justify-content: center;
}

img {
  margin-bottom: 10px;
  max-width: 100%;
}

section {
  background-color: rgb(212, 212, 212);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  margin: 10px;
  padding: 10px;
  width: 20%;
}

.storyline {
  font-weight: 100;
  margin-bottom: 10px;
  margin-top: 10px;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.rating {
  background-color: #007bff;
  border-radius: 25px;
  color: white;
  font-size: 16px;
  font-weight: 700;
  padding: 3px 9px;
}
